<% if model.errors.any? %>

  <div class="keikoku">
    
    <div class="error-text">
      
      <%= pluralize(@book.errors.count, "error") %>
      prohibited this book from being saved:
      
    </div>

    <ul>
      <% model.errors.full_messages.each do |message| %>

        <li><%= message %></li>

      <% end %>
    </ul>

  </div>
<% end %>